@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sınav Başarıyla Kaydedildi</title>
    <link href="~/Content/css/forstudentcss.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="~/Content/css/forstudentcss.css" rel="stylesheet" />
    <style>
        .myButton {
            box-shadow: 3px 4px 0px 0px #9fb4f2;
            background-color: #7892c2;
            border-radius: 18px;
            border: 1px solid #4e6096;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 17px;
            padding: 7px 25px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #283966;
                width: 40%;
                float: right;height: 41px; font-size: initial;font-family: cursive;
        }

            .myButton:hover {
                background-color: #476e9e;
                color: blue;
            }

            .myButton:active {
                position: relative;
                top: 1px;
            }
    </style>


</head>
<body style="background-color:#E8EBEE;">



    <div class="" shadow-lg p-3 mb-5 bg-white rounded"">
        <div class="jumbotron jumbotron-fluid">
            <div class="container" style="color: darkblue;">

                <p>Sınav Sona Ermiştir.</p> <br />
                <p>Birkaç dakika sonra sisteminizden puanınızı öğrenebilirsiniz.</p>
                 <br /> <br /> <br />
                <a class="myButton" style="" href="/Ogrenci/Index"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"><i class="fas fa-medal" style="font-size: x-large; color: white;"></i> Anladım </span></a>
                </div>
            </div>
        </div>

    <script src="https://kit.fontawesome.com/712e0b150d.js" crossorigin="anonymous"></script>
</body>
</html>
