@using OnlineSinav.Models
@model List<HataliSoruDegerlendirme>
@{
    Layout = "~/Views/Shared/_ogretmenpanel.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hatalı Soru Değerlendirme Sonuç</title>
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/css/tablefor.css" rel="stylesheet" />


    <style>
        .btn {
            background-color: steelblue;
        }

        .fl-table {
            border-radius: 5px;
            font-size: 12px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: inherit;
            background-color: white;
        }
    </style>
</head>
<body> 
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Soru  Adı   </th>
                    <th>Öğretmen Ad Soyad    </th>
                    <th>Cevap </th>
                    <th>Nedeni     </th>
                </tr>
            </thead>
            <tbody >
                @foreach (var soru in Model)
                {
                    if (soru.SoruId.ToString() == ViewBag.soruhatali)
                    {
                        <tr>
                            <td>@soru.Soru.SoruAdi</td>
                            <td>@soru.Ogretmen.AdSoyad</td>
                            <td>@soru.Cevap</td>
                            <td>@soru.Nedeni</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</body>
</html>
