
<head>
    <title>_footer</title>
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<hr />
<body>
    <hr />
    <div class="container" style="margin-top:40px; text-align:center; opacity:0.6;margin-bottom: 30px;font-family: monospace;">
        <i class="fas fa-mug-hot"></i> Made by Gamze BABAYİĞİT - 2020
    </div>

    <script src="https://kit.fontawesome.com/712e0b150d.js" crossorigin="anonymous"></script>

</body>
